
    <a href="{% url 'reservation:create' month_previous.year month_previous.month month_previous.day %}" class="text-info">前月</a>
    {{ month_current | date:"Y年m月" }}
    <a href="{% url 'reservation:create' month_next.year month_next.month month_next.day %}" class="text-info">次月</a>
    <a href="{% url 'reservation:create' now.year now.month now.day %}" class="text-info" style="float:right;">今日</a>

    <br><br>

    <table class="table table-bordered" style="table-layout:fixed;">
        <thead>
        <tr>
            {% for w in week_names %}
              {% if w == '土' %}
                  <th class="bg-info" style="text-align:center">{{ w }}</th>
              {% elif w == '日' %}
                  <th class="bg-danger" style="text-align:center">{{ w }}</th>
              {% else %}
                  <th style="text-align:center;background-color:darkgray;color:white">{{ w }}</th>
              {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week in month_days %}
            <tr>
                {% for day in week %}
                    {% if now == day %}
                        <td class="table-success">
                            {% else %}
                        <td>
                    {% endif %}

                {% if month_current.month != day.month %}
                  <a href="{% url 'reservation:create' day.year day.month day.day %}">
                    {{ day | date:"m/d" }}
                  </a>
                {% else %}
                  <a href="{% url 'reservation:create' day.year day.month day.day %}">
                    {{ day.day }}
                  </a>
                {% endif %}

                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
